<div class="d-flex">
  <div style="width: 15%; height: 100vh; max-height: 100%; box-shadow: 0 16px 38px -12px rgba(0,0,0,.56), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);">
    <app-left-nav-bar></app-left-nav-bar>
  </div>
  <div>
    <app-nav-bar></app-nav-bar>
    <router-outlet></router-outlet>
  </div>
</div>