.nav-bar {
  padding-inline-start: 0;
}

.list-item {
  list-style-type: none;
}

.list-item-a {
  color: #3c4858;
}

.list-item-desc {
  margin: 0;
  line-height: 30px;
  font-size: 14px;
}

.list-item-icon {
  font-size: 24px;
  line-height: 30px;
  width: 30px;
  text-align: center;
  color: #a9afbb;
}

.active {
  background-color: #f44336;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(244, 67, 54, .4);
  border-radius: 3px;
}

.active p {
  color: white;
}

.active i {
  color: white;
}

a:hover {
  text-decoration: none;
}
