<ul class="nav-bar">
  <li class="p-2 m-3 list-item" routerLinkActive="active">
    <a class="d-flex list-item-a" routerLink="/dashboard">
      <i class="list-item-icon fa fa-dashboard"></i>
      <p class="list-item-desc ml-3">Dashboard</p>
    </a>
  </li>
  <li class="p-2 m-3 list-item" routerLinkActive="active">
    <a class="d-flex list-item-a" routerLink="/user-profile">
      <i class="list-item-icon fa fa-user"></i>
      <p class="list-item-desc ml-3">User Profile</p>
    </a>
  </li>
  <li class="p-2 m-3 list-item" routerLinkActive="active">
    <a class="d-flex list-item-a" routerLink="/table-list">
      <i class="list-item-icon fa fa-list-alt"></i>
      <p class="list-item-desc ml-3">Table List</p>
    </a>
  </li>
  <li class="p-2 m-3 list-item" routerLinkActive="active">
    <a class="d-flex list-item-a" routerLink="/typography">
      <i class="list-item-icon fa fa-file-text"></i>
      <p class="list-item-desc ml-3">Typography</p>
    </a>
  </li>
  <li class="p-2 m-3 list-item" routerLinkActive="active">
    <a class="d-flex list-item-a" routerLink="/design-icon">
      <i class="list-item-icon fa fa-cogs"></i>
      <p class="list-item-desc ml-3">Icons</p>
    </a>
  </li>
  <li class="p-2 m-3 list-item" routerLinkActive="active">
    <a class="d-flex list-item-a" routerLink="/maps">
      <i class="list-item-icon fa fa-map-marker"></i>
      <p class="list-item-desc ml-3">Maps</p>
    </a>
  </li>
  <li class="p-2 m-3 list-item" routerLinkActive="active">
    <a class="d-flex list-item-a" routerLink="/notify">
      <i class="list-item-icon fa fa-bell"></i>
      <p class="list-item-desc ml-3">Notifications</p>
    </a>
  </li>
</ul>